:root{
--dark-cyan: hsl(185, 75%, 39%);
--very-dark-desaturated-blue: hsl(229, 23%, 23%);
--dark-grayish-blue: hsl(227, 10%, 46%);
}

h1 {
    color: var(--very-dark-desaturated-blue);
    margin: 0;
}

.cuerpo {
background: var(--dark-cyan);
padding: 50px;
font-family: 'Kumbh Sans', sans-serif;
}

h4 {
    color:var(--dark-cyan);
}

.card{
    border-radius: 20px;
    background: white url(./images/bg-pattern-card.svg) repeat-x;
    /*background-size:*/
    /*background-repeat: repeat no-repeat;*/
    overflow: hidden;
    text-align: center;
}

.image{
    border-radius: 50%;
    border: px solid yellow;
}

.social {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #e8e8e8;
    
}

.social h3 small {
    display: block;
    color: var(--dark-grayish-blue);
    font-weight: 400;
}